<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Software and Design Arquitecture</title>
</head>
<body>
<header th:insert="fragments/headerFooter.html :: header"></header>
<footer th:insert="fragments/headerFooter.html :: footer"></footer>
<table>
    <tr>
        <th>building</th>
        <th>classroomName</th>
        <th>normalCapacity</th>
        <th>examCapacity</th>
        <th>numberCharacteristics</th>
        <th>characteristics</th>
    </tr>
    <tr th:each="classroom : ${classrooms}">
        <td th:text="${classroom.building}">building</td>
        <td th:text="${classroom.classroomName}">classroomName</td>
        <td th:text="${classroom.normalCapacity}">normalCapacity</td>
        <td th:text="${classroom.examCapacity}">examCapacity</td>
        <td th:text="${classroom.numberCharacteristics  }">numberCharacteristics</td>
        <td th:text="${classroom.characteristics}">characteristics</td>
    </tr>
</table>


</body>
</html>