<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org">

<head>
    <meta charset="UTF-8">
    <title>Timetable</title>

    <link href="https://unpkg.com/tabulator-tables@4.8.1/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.8.1/dist/js/tabulator.min.js"></script>

</head>
<body>
<script th:inline="javascript">
    function showhide(id) {
       	var e = document.getElementById(id);
       	e.style.display = (e.style.display == 'block') ? 'none' : 'block';
    }
</script>
<script>
async function getTest(){
    let  response = await fetch("http://localhost:9090/rest/algorithm")
    let data = await response.json()
    var e = document.getElementById('algorithmProgressBar');
    e.setAttribute("value",data)
    console.log(data)
    return data;
}
var getClassRooms = setInterval(getTest , 1000);
</script>
<header th:insert="fragments/headerFooter.html :: header"></header>
<footer th:insert="fragments/headerFooter.html :: footer"></footer>

<div>
    <label></label>
    <progress id="algorithmProgressBar" value="0" max="1"> </progress>

</div>

<a href="javascript:showhide('requestSection')">
    <button>
        Request Timetabling
    </button>
</a>
<a th:href="@{/timetable/download}">
    <button>
        Download Timetable
    </button>
</a>
<p th:text="${message}" th:if="${message ne null}"></p>

<div id="requestSection" style="display:none">
    <form method="post" th:action="@{/timetable/upload}" enctype="multipart/form-data">
        <div>
            <div><label for="file_classes">Classes:</label>
                 <input type="file" name="file_classes" id="file_classes"/>
                <label for="file_classrooms">Classrooms:</label>
                 <input type="file" name="file_classrooms" id="file_classrooms"/>
                <label for="algorithm">Algorithm:</label>
                 <input type="text" name="algorithm" id="algorithm" value="basic"/>
<!--
                <label for="algorithm">Algorithm:</label>
                <select name=”algorithm” id="algorithm">
                    <option value=”basic” >Basic </option>
                    <option value=”NSGAII” >NSGAII</option>
                    <option value=”NSGAIII” >NSGAIII</option>
                    <option value=”GDE3”  >GDE3</option>
                </select>
                -->
            </div>
            <button type="submit">Upload File</button>
        </div>
    </form>
</div>

<div id="timetable_tabulator"></div>
<div id="timetable_statistics_tabulator"></div>
<script th:inline="javascript">
/*<![CDATA[*/
    var timetablejs = /*[[${timetable}]]*/ null;
/*]]>*/
    var table = new Tabulator("#timetable_tabulator", {
            data: timetablejs,
            tooltips:true,            //show tool tips on cells
            addRowPos:"top",          //when adding a new row, add it to the top of the table
            history:true,             //allow undo and redo actions on the table
            pagination:"local",       //paginate the data
            paginationSize:20,         //allow 20 rows per page of data
            movableColumns:true,      //allow column order to be changed
            resizableRows:true,       //allow row order to be changed
            initialSort:[             //set the initial sort order of the data
                {column:"courses", dir:"asc"},
            ],
            //autoColumns:true,
            columns:[
                {title: "Courses",                       field: "courses",                      sorter: "string",  headerFilter: "input",   },
                {title: "Units",                         field: "units",                        sorter: "string",  headerFilter: "input",   },
                {title: "Shift",                         field: "shift",                        sorter: "string",  headerFilter: "input",   },
                {title: "ClassesOfCourse",               field: "classesOfCourse",              sorter: "string",  headerFilter: "input",   },
                {title: "NumberOfStudentsInClass",       field: "numberOfStudentsInClass",      sorter: "string",  headerFilter: "input",   },
                {title: "ShiftsWithFreeSpots",           field: "shiftsWithFreeSpots",          sorter: "string",  headerFilter: "input",   },
                {title: "ShiftsWithMoreThanTheCapacity", field: "shiftsWithMoreThanTheCapacity",sorter: "string",  headerFilter: "input",   },
                {title: "Weekday",                       field: "weekday",                      sorter: "string",  headerFilter: "input",   },
                {title: "BeginningHour",                 field: "beginningHour",                sorter: "string",  headerFilter: "input",   },
                {title: "EndHour",                       field: "endHour",                      sorter: "string",  headerFilter: "input",   },
                {title: "Date",                          field: "date",                         sorter: "string",  headerFilter: "input",   },
                {title: "AskedCharacteristics",          field: "askedCharacteristics",         sorter: "string",  headerFilter: "input",   },
                {title: "Classroom",                     field: "classroom",                    sorter: "number",  headerFilter: "input",   },
                {title: "Capacity",                      field: "capacity",                     sorter: "number",  headerFilter: "input",   },
                {title: "RealCharacteristics",           field: "realCharacteristics",          sorter: "number",  headerFilter: "input",   },

                ]
            });




</script>
<script th:inline="javascript">
/*<![CDATA[*/
    var timetablestatsjs = /*[[${timetablestats}]]*/ null;
/*]]>*/
    var table = new Tabulator("#timetable_statistics_tabulator", {
            data: timetablestatsjs,
            tooltips:true,            //show tool tips on cells
            addRowPos:"top",          //when adding a new row, add it to the top of the table
            history:true,             //allow undo and redo actions on the table
            pagination:"local",       //paginate the data
            paginationSize:20,         //allow 20 rows per page of data
            movableColumns:true,      //allow column order to be changed
            resizableRows:true,       //allow row order to be changed
            initialSort:[             //set the initial sort order of the data
                {column:"result", dir:"desc"},
            ],
            //autoColumns:true,
            columns:[
                {title: "Metric", field: "metricName", sorter: "string", headerFilter: "input",},
                {title: "Result", field: "result", sorter: "number", headerFilter: "input",},
                ]
            });
</script>


</body>
</html>